PyJWT
PyQt6
alibabacloud_tea_openapi
anthropic
azure-cognitiveservices-speech
azure-identity
beautifulsoup4
cachetools
dashscope
edge_tts
einops
fastapi
groq
html2text
icecream
jieba
keyboard
msal
networkx
numpy
ollama
openai
oss2
paho-mqtt
pandas
pika
pillow
psycopg2-binary
pydantic
pymilvus
python-dotenv
pywinauto
qdrant_client
requests
schedule
sentence_transformers
tenacity
ultralytics
uvicorn
volcengine
vosk
websockets
zhipuai
